<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<form action="http://localhost:8080/usuarios" method="post">
		username: <input type="text" name="username"> <br>
		nome: <input type="text" name="nome"> <br>
		senha: <input type="password" name="senha"> <br>
		CPF_CNPJ: <input type="text" name="cpf_cnpj"> <br>
		e-mail: <input type="text" name="email"> <br>
		idade: <input type="number" name="idade"> <br>
		
		<input type="submit" value="Cadastrar">
		
	</form>

</body>
</html>